.centered {
  color: #000000;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 70px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  color: white;
  margin-top: 87px;
  min-height: 500px;
  min-width: 1200px;
  text-align: center;
  padding: 0;
}

.slick-slide img {
  margin: auto;
  width: 100%;
}
