@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

.centered {
  color: #000000;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 60px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  color: white;
  position: relative;
  text-align: center;
}
